.H1start
{
    font-family: minecraft;
    margin-top: 120px;
    animation: fadeInUp 2s ease-in-out;
    text-align: center;
    font-size: 3.0em;
}

.NiklasImg
{
    animation: fadeInUp 3s ease-in-out;
    display: block;
    margin: 20px auto;
    border-radius: 20px;
}

body {
  background: #d9d9d9;
  color: #222;
  transition: 0.3s, color 0.3s;
}

body.dark-mode {
  background: #121212;
  color: #f1f1f1;
}

body.dark-mode a {
  color: #9ecbff;
}

body.dark-mode nav {
  background: #333;
}

.H2bottom
{
    font-family: Minecraft;
    margin-top: 120px;
    animation: fadeInUp 4s ease-in-out;
    text-align: center;
    position: relative;
    bottom: 100px;
    font-size: 2.0em;
}

footer {
    font-family: Minecraft;
    background: #222;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: -10px;
    left: -10px;
    width: 100.7%;
}
